body{
    background-color: #C1C9D9;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url(../kepek/190715_Plastic-item-floating-in-GPGP.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main{
    background-color: #C1C9D9D9;
    overflow: hidden;
}

h1{
    color: #022859;
    border-bottom: 5px solid #022859;
}

p{
    color: #011126;
    font-size: 110%;
}

a{
    text-decoration: none;
    color: #023373;
}

a:hover{
    color: #ff3150;
}

a:active{
    color: #ad0e23;
}

nav{
    background-color: #033E8C;
}

.nav-link{
    color: #C1C9D9;
    font-size: 120%;
}

.nav-link:hover{
    color: #FFFFF2;
}

.nav-link-active{
    color: #FFFFF2;
}


.carousel-item {
    height: 400px;
}

#carouselExampleIndicators {
    margin: auto;
    width: 70%;
    padding-top: 20px;
    
  }


.img-popover:hover{
    position: relative;
}

/*Class for popover images*/
.img-popover:hover::after{
    content: "";
    background-size: cover;
    display: block;
    position: absolute;
    border: 1px solid #C1C9D9;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #011126;
}
/*Ids for specifying the popover img's sizes and paths*/
#system002:hover::after{
    contain: "";
    background-image: url(../kepek/Tender-Inspection-Flight-24.08.2021-pre-meetings-3.jpg);
    width: 400px;
    height: 225px;
}
.img-example{
    margin-bottom: 10px;
    width: 100%;
    float: left;
    border-radius: 5px;
}


/*Image ids*/
#muanyag{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

#img-nyasza-to{
    height: 150px;
}

#img-earth{
    height: 150px;
}

#img-vizszennyezes{
    height: 240px;
}

#szemetsziget{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

#img-korallpusztulas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

#img-ocean-muanyag {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

#img-tengerifumezo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

@media (max-width: 600px) {
    #muanyag{
        height: auto;
    }
    #img-nyasza-to{
        width: 100%;
        height: auto;
    }
    #img-earth{
        width: 100%;
        height: auto;
    }
    #img-vizszennyezes{
        width: 100%;
        height: auto;
    }
    #szemetsziget{
        height: auto;
    }

    #img-korallpusztulas {
        width: 100%;
        height: auto;
    }
    #img-ocean-muanyag {
        width: 100%;
        height: auto;
    }

    #img-tengerifumezo {
        width: 100%;
        height: auto;
    }
    #img-poluted-lake{
        height: auto;
    }
}

@media (max-width: 767px) {

#carouselExampleIndicators {
    width: 100%;
    height: 50%;
}

.d-block {
    height: 400px;
}

}