body{
    background-color: #FFFFF2;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    color: #337CA0;
    border-bottom: 5px solid #337CA0;
}

p{
    color: #011627;
    font-size: 110%;
}

a{
    text-decoration: none;
    color: #F71735;
}

a:hover{
    color: #ff3150;
}

a:active{
    color: #ad0e23;
}

nav{
    box-shadow: 0 2px 4px #7eb0a8;
    background-color: #3486C2;
}

.nav-link{
    color: #011627;
    font-size: 120%;
}

.nav-link:hover{
    color: #FFFFF2;
}

.nav-link-active{
    color: #FFFFF2;
}

#muanyag{
    width: 100%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
}

